{% extends 'templates/result.html' %}

{% block resultType %}Conversion{% endblock %}

{% block header %}
    <h1>Conversion Result: From {{ from_level }} to {{ to_level }}</h1>
{% endblock %}

{% block description %}
    <p>These represent estimates in converting between each selected level of molecular computing. Converting from one stage to another typically leads to error, so please use caution in interpreting these results.</p>
{% endblock %}

{% block interpretation %}
    {% if 'function' in selected_sections %}
        {% include 'templates/partials/function.html' %}
        <hr/>
    {% endif %}

    {% if 'gate' in selected_sections %}
        {% include 'templates/partials/gates.html' %}
        <hr/>
    {% endif %}

    {% if 'crn' in selected_sections %}
        {% include 'templates/partials/crn.html' %}
        <hr/>
    {% endif %}

    {% if 'dsd' in selected_sections %}
        {% include 'templates/partials/dsd.html' %}
        <hr/>
    {% endif %}

    {% if 'dna' in selected_sections %}
        {% include 'templates/partials/dna.html' %}
        <hr/>
    {% endif %}
{% endblock %}