{% extends 'templates/result.html' %}

{% block resultType %}Conversion{% endblock %}

{% block header %}
    <h1>Conversion Result: From {{ from_level }} to {{ to_level }}</h1>
{% endblock %}

{% block description %}
    <p>You have selected to convert from {{ from_level }} to {{ to_level }}.</p>
{% endblock %}

{% block interpretation %}
    {% if 'function' in selected_sections %}
        {% include 'templates/partials/function.html' %}
    {% endif %}

    {% if 'gates' in selected_sections %}
        {% include 'templates/partials/gates.html' %}
    {% endif %}

    {% if 'crn' in selected_sections %}
        {% include 'templates/partials/crn.html' %}
    {% endif %}

    {% if 'dsd' in selected_sections %}
        {% include 'templates/partials/dsd.html' %}
    {% endif %}

    {% if 'dna' in selected_sections %}
        {% include 'templates/partials/dna_sequence.html' %}
    {% endif %}
{% endblock %}