{% extends 'templates/result.html' %}

{% block resultType %}FSM Simulation{% endblock %}

{% block header %}
    <h1>FSM Simulation Result: {{ function_name }}</h1>
{% endblock %}

{% block description %}
    <p>The simulation results for the selected function are shown below. These include the approximation of the original function, state tables, error metrics, and an analysis of the FSM's performance.</p>
{% endblock %}

{% block interpretation %}
    {% for fsm_data in fsms %}
        {% include 'templates/partials/fsm_result.html' with fsm=fsm_data.fsm graph=fsm_data.graph %}
    {% endfor %}
{% endblock %}