{% extends 'templates/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <div class="jumbotron text-center p-5" style="background-color: var(--uk-secondary-dark-blue);">
        <div class="container">
            <h1 class="display-4" style="color: #fff !important;">Welcome to FUNDNA</h1>
            <p class="lead" style="color: #fff !important;">A molecular computing conversion tool.</p>
            <a class="btn btn-lg btn-secondary mt-3" style="background-color:#fff!important; color:var(--uk-secondary-dark-blue)!important;" href="{% url 'convert' %}">Get Started</a>
        </div>
    </div>

    <!-- Features Section -->
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Convert</h5>
                        <p class="card-text">Convert between the different levels of molecular computing.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">Simulate</h5>
                        <p class="card-text">Simulate your own chemical reaction network (CRN) or DSD system.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title">FSM</h5>
                        <p class="card-text">Learn more about the FSM approach to molecular computing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Contact Section -->
    <div class="container mt-5 mb-5">
        <div class="card border-0">
            <div class="card-body text-center">
                <h2>Contact CUT Lab</h2>
                <p class="lead">For further inquiries, reach out to the team at the Computing with Unconventional Technologies (CUT) LAB.</p><br/>
                <p>
                    <h4 class="mb-0" style="font-weight: bold;">Dr. Sayed A. Salehi</h4>
                    <a href="https://salehi.engr.uky.edu/research-cut-lab" target="_blank">https://salehi.engr.uky.edu/research-cut-lab</a><br><br/>
                    <b>Email:</b> <a href="mailto:SayedSalehi@uky.edu">SayedSalehi@uky.edu</a><br>
                <b>Office Phone:</b> <a href="tel:+18592576143">+1 (859) 257-6143</a>
                </p>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Call to Action Section -->
    <div class="container mt-5 mb-5 text-center">
        <h2>Ready to Dive In?</h2>
        <p class="lead">Transform the way you interact with functions and systems. Start converting now!</p>
        <a class="btn btn-lg btn-primary mt-3" href="{% url 'convert' %}">Convert Now</a>
    </div>
{% endblock %}
