{% load custom_filters %}
<div class="row mb-4">
    <div class="col-md-12">
        <h4 style="text-align: center">DNA Simulation Results (Piperine)</h4>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#score-report" aria-selected="true" role="tab">Score Report</a>
            </li>
            {% for design in piperine_output.Designs %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#design-{{ forloop.counter }}" aria-selected="false" role="tab">{{ design.Name }}</a>
                </li>
            {% endfor %}
        </ul>
        <br/>
        <div id="myTabContent" class="tab-content">
            <!-- Score Report Tab -->
            <div class="tab-pane fade show active" id="score-report" role="tabpanel">
                <!-- Best Design Section -->
                <div class="best-design-section text-center my-4">
                    <h2 class="display-5">🏆 Best Design(s) 🏆</h2>
                    <p class="lead">
                        <strong style="font-weight: bold">{{ piperine_output.MetaRanksArray.3|join:", " }}</strong> achieved the most optimal meta ranking with a score of
                        <span class="badge bg-success">{{ piperine_output.MetaRanksArray.2 }}</span>
                    </p>
                    <hr class="my-4">
                </div>

                <!-- Meta Ranking Section -->
                <div class="section">
                    <h3 class="text-primary text-center">Meta Ranking Summary</h3>

                    <!-- Meta Array Table -->
                    <div class="score-table my-4">
                        <h5 class="text-secondary">Meta Array Table</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>Design Name</th>
                                        <th>Meta Sum</th>
                                        <th>Worst-rank</th>
                                        <th>Worst-weighted-rank</th>
                                        <th>Sum-of-ranks</th>
                                        <th>Weighted Sum-of-ranks</th>
                                        <th>Fractional-excess</th>
                                        <th>Weighted Fractional-excess</th>
                                        <th>Percent-badness</th>
                                        <th>Weighted Percent-badness</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in transposed_scores %}
                                        <tr>
                                            {% for cell in row %}
                                                <td>{{ cell|format_meta_cell }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Best/Worst by Category -->
                    <div class="best-worst-categories my-4">
                        <h5 class="text-secondary">Best and Worst for Each Category</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Best</th>
                                        <th>Worst</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Worst-rank</td>
                                        <td>{{ piperine_output.WorstRank.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.WorstRank.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Worst-weighted-rank</td>
                                        <td>{{ piperine_output.WorstWeightedRank.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.WorstWeightedRank.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sum-of-ranks</td>
                                        <td>{{ piperine_output.SumOfRanks.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.SumOfRanks.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Weighted Sum-of-ranks</td>
                                        <td>{{ piperine_output.WeightedSumOfRank.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.WeightedSumOfRank.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fractional-excess</td>
                                        <td>{{ piperine_output.FractionalExcess.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.FractionalExcess.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Weighted Fractional-excess</td>
                                        <td>{{ piperine_output.WeightedFractionalExcess.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.WeightedFractionalExcess.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Percent-badness</td>
                                        <td>{{ piperine_output.PercentBadness.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.PercentBadness.1|score_and_rank }}</td>
                                    </tr>
                                    <tr>
                                        <td>Weighted Percent-badness</td>
                                        <td>{{ piperine_output.WeightedPercentBadness.0|score_and_rank }}</td>
                                        <td>{{ piperine_output.WeightedPercentBadness.1|score_and_rank }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>

                <!-- Raw Scores Table -->
                <div class="section">
                    <h3 class="text-primary text-center">Raw Scores</h3>
                    <div class="score-table my-4">
                        <h5 class="text-secondary">Raw & Weighted Scores of Each Piperine Design</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Design Name</th>
                                        {% for score_name, score in piperine_output.Designs.0.RawScores.ToDict.items %}
                                            <th>{{ score_name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Unweighted Raw Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }}</td>
                                            {% for score_name, score in design.RawScores.ToDict.items %}
                                                {% if score.0 is not None %}
                                                    <td>{{ score.0 }}</td>
                                                {% else %}
                                                    <td>N/A</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <!-- Divider Row -->
                                    <tr class="table-divider">
                                        <td colspan="{{ piperine_output.Designs.0.RawScores.ToDict|length|add:1 }}" style="border-top: 2px solid black;"></td>
                                    </tr>
                                    <!-- Weighted Raw Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }} (Weighted)</td>
                                            {% for score_name, score in design.RawScores.ToDict.items %}
                                                <td>{{ score|weighted_score }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>

                <!-- Rank Array Table -->
                <div class="section">
                    <h3 class="text-primary text-center">Rank Array</h3>
                    <div class="score-table my-4">
                        <h5 class="text-secondary">Ranked & Weighted-Ranked Scores of Each Piperine Design</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Design Name</th>
                                        {% for score_name, score in piperine_output.Designs.0.RankArray.ToDict.items %}
                                            <th>{{ score_name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Unweighted Rank Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }}</td>
                                            {% for score_name, score in design.RankArray.ToDict.items %}
                                                {% if score.0 is not None %}
                                                    <td>{{ score.0 }}</td>
                                                {% else %}
                                                    <td>N/A</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <!-- Divider Row -->
                                    <tr class="table-divider">
                                        <td colspan="{{ piperine_output.Designs.0.RankArray.ToDict|length|add:1 }}" style="border-top: 2px solid black;"></td>
                                    </tr>
                                    <!-- Weighted Rank Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }} (Weighted)</td>
                                            {% for score_name, score in design.RankArray.ToDict.items %}
                                                <td>{{ score|weighted_score }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>

                <!-- Fractional Excess Array Table -->
                <div class="section">
                    <h3 class="text-primary text-center">Fractional Excess Array</h3>
                    <div class="score-table my-4">
                        <h5 class="text-secondary">Fractional Excess & Weighted Fractional Excess Scores of Each Piperine Design</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Design Name</th>
                                        {% for score_name, score in piperine_output.Designs.0.FractionalExcessArray.ToDict.items %}
                                            <th>{{ score_name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Unweighted Fractional Excess Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }}</td>
                                            {% for score_name, score in design.FractionalExcessArray.ToDict.items %}
                                                {% if score.0 is not None %}
                                                    <td>{{ score.0 }}</td>
                                                {% else %}
                                                    <td>N/A</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <!-- Divider Row -->
                                    <tr class="table-divider">
                                        <td colspan="{{ piperine_output.Designs.0.FractionalExcessArray.ToDict|length|add:1 }}" style="border-top: 2px solid black;"></td>
                                    </tr>
                                    <!-- Weighted Fractional Excess Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }} (Weighted)</td>
                                            {% for score_name, score in design.FractionalExcessArray.ToDict.items %}
                                                <td>{{ score|weighted_score }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br/>

                <!-- Percent Badness Array Table -->
                <div class="section">
                    <h3 class="text-primary text-center">Percent Badness Array</h3>
                    <div class="score-table my-4">
                        <h5 class="text-secondary">Percent Badness & Weighted Percent Badness Scores of Each Piperine Design</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Design Name</th>
                                        {% for score_name, score in piperine_output.Designs.0.PercentBadnessArray.ToDict.items %}
                                            <th>{{ score_name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Unweighted Percent Badness Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }}</td>
                                            {% for score_name, score in design.PercentBadnessArray.ToDict.items %}
                                                {% if score.0 is not None %}
                                                    <td>{{ score.0 }}</td>
                                                {% else %}
                                                    <td>N/A</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <!-- Divider Row -->
                                    <tr class="table-divider">
                                        <td colspan="{{ piperine_output.Designs.0.PercentBadnessArray.ToDict|length|add:1 }}" style="border-top: 2px solid black;"></td>
                                    </tr>
                                    <!-- Weighted Percent Badness Scores -->
                                    {% for design in piperine_output.Designs %}
                                        <tr>
                                            <td>{{ design.Name }} (Weighted)</td>
                                            {% for score_name, score in design.PercentBadnessArray.ToDict.items %}
                                                <td>{{ score|weighted_score }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Design Tabs -->
            {% for design in piperine_output.Designs %}
                <div class="tab-pane fade" id="design-{{ forloop.counter }}" role="tabpanel">
                    <h3>{{ design.Name }}</h3>

                    <!-- Raw Scores Array Table -->
                    <div class="score-table my-4">
                        <h5 class="text-secondary">Raw & Weighted Scores for {{ design.Name }}</h5>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        {% for score_name, score in piperine_output.Designs.0.RawScores.ToDict.items %}
                                            <th>{{ score_name }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>Raw</td>
                                            {% for score_name, score in design.RawScores.ToDict.items %}
                                                {% if score.0 is not None %}
                                                <td>{{ score.0 }}</td>
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td>Weighted</td>
                                            {% for score_name, score in design.RawScores.ToDict.items %}
                                                <td>{{ score|weighted_score }}</td>
                                            {% endfor %}
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br/>
                    <!-- Foundational Information -->
                    <h4>Foundational Information</h4>
                    <div class="row dna-section">
                        <div class="col-1 dna-section-label">
                            <h5>Sequences</h5>
                        </div>
                        <div class="col-11">
                            {% for sequence in design.Sequences %}
                                {% include 'templates/partials/chevron_sequence.html' with seq_name=sequence.Name seq_domains=sequence.Sequence seq_isNuc=True %}
                            {% endfor %}
                        </div>
                    </div>
                    <br/>
                    <div class="row dna-section">
                        <div class="col-1 dna-section-label">
                            <h5>Strands</h5>
                        </div>
                        <div class="col-11">
                            {% for strand in design.Strands %}
                                {% include 'templates/partials/chevron_sequence.html' with seq_name=strand.Name seq_domains=strand.Strand seq_isNuc=True %}
                            {% endfor %}
                        </div>
                    </div>
                    <br/>
                    <div class="row dna-section">
                        <div class="col-1 dna-section-label">
                            <h5>Structures</h5>
                        </div>
                        <div class="col-11">
                            {% for structure in design.Structures %}
                                {% include 'templates/partials/chevron_sequence.html' with seq_name=structure.Name seq_domains=structure.Structure seq_isNuc=True %}
                            {% endfor %}
                        </div>
                    </div>
                    <br/>

                    <!-- Complexes Information -->
                    <h4>Complexes</h4>
                    {% for complex in design.Complexes %}
                        <div class="row dna-section">
                            <div class="col-1 dna-section-label">
                                <h5>{{ complex.Name }} {% if complex.IsFuel %}(Fuel Cmp.){% endif %}</h5>
                            </div>
                            <div class="col-11">
                                {% for strand in complex.Strands %}
                                    {% include 'templates/partials/chevron_sequence.html' with seq_name=strand.Name seq_domains=strand.Strand seq_isNuc=True %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .table th {
        --bs-table-color-type: var(--bs-table-striped-color);
        --bs-table-bg-type: var(--bs-table-striped-bg);
    }

    /* Styling for the sticky, vertical-aligned labels */
    .dna-section-label {
        position: sticky;
        top: 0; /* Sticky position */
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        writing-mode: vertical-rl; /* Rotate text vertically */
        text-orientation: mixed; /* Keeps letters upright */
        font-weight: bold;
        background-color: var(--uk-secondary-lighter-blue);
        z-index: 1;
        transform: rotate(180deg); /* Rotate text to the correct orientation */
        padding: 10px; /* Padding for breathing room */
        border-right: 1px solid var(--uk-secondary-dark-blue);
    }

    .dna-section {
        border: 1px solid var(--uk-secondary-dark-blue);
        display: flex; /* Flex container to align dna-section-label */
        align-items: stretch; /* Ensure label takes full height */
    }

    .table th {
        --bs-table-color-type: var(--bs-table-striped-color);
        --bs-table-bg-type: var(--bs-table-striped-bg);
    }

    .table-divider td {
        padding: 0 !important;
    }
</style>

<style>
    .chevron-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .chevron {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 30px;
        margin-right: -10px;
        background-color: var(--uk-secondary-lighter-blue);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        text-align: center;
        font-size: 0.8rem;
    }

    .chevron .domain-label {
        color: var(--primary);
        font-weight: bold;
        white-space: nowrap;
        padding-left: 5px;
    }

    .chevron::before {
        content: attr(title);
        position: absolute;
        bottom: -18px;
        font-size: 0.7rem;
        font-weight: normal;
        color: var(--primary);
    }

    /* Bottom border for all `.sequence` elements except the last one */
    .sequence:not(:last-child) {
        border-bottom: 1px solid var(--uk-secondary-dark-blue);
    }

    .sequence {
        display: flex;
        flex-direction: column;
        padding: 5px 0;
    }

    .seq {
        padding: 0.5em 0;
        width: 100%;
    }

    /* Bottom border for all `.sequence` elements except the last one */
    .seq:not(:last-child) {
        border-bottom: 1px solid var(--uk-secondary-lighter-blue);
    }

    .signal-complex strong {
        margin-bottom: 5px;
    }
</style>

<!-- Additional Styles -->
<style>
    .best-design-section {
        background-color: #f8f9fa;
        border: 2px solid #6c757d;
        padding: 1.5rem;
        border-radius: 8px;
    }

    .section h3 {
        margin-top: 1.5rem;
        border-bottom: 2px solid #007bff;
        padding-bottom: 0.5rem;
    }

    .score-table, .best-worst-categories {
        padding: 1rem;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        background-color: #ffffff;
    }

    /* Base style for the tab navigation */
    .nav-tabs {
        border-bottom: 2px solid var(--uk-secondary-dark-blue);
        background-color: #f9f9f9;
        margin-bottom: 1rem;
    }

    /* Inactive tabs */
    .nav-tabs .nav-item .nav-link {
        background-color: var(--uk-secondary-lighter-blue);
        color: var(--uk-secondary-dark-blue);
        border: 1px solid var(--uk-secondary-dark-blue);
        border-radius: 8px 8px 0 0;
        margin-right: 0.25rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* Active tab */
    .nav-tabs .nav-item .nav-link.active {
        color: var(--uk-secondary-lighter-blue) !important;
        background-color: var(--uk-secondary-dark-blue);
        border: 1px solid var(--uk-secondary-dark-blue);
        border-bottom: none;
        position: relative;
        z-index: 2;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Hover effect on inactive tabs */
    .nav-tabs .nav-item .nav-link:hover {
        background-color: var(--uk-secondary-dark-blue);
        color: var(--uk-secondary-lighter-blue) !important;
    }

    /* Content container to separate tabs and content visually */
    .tab-content {
        background-color: #ffffff;
        border: 1px solid var(--uk-secondary-dark-blue);
        border-radius: 0 8px 8px 8px;
        padding: 1.5rem;
        margin-top: -1px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>
<script>
    function copyDNA(latex) {
        // Create a temporary textarea element to hold the LaTeX string
        const tempInput = document.createElement("textarea");
        tempInput.value = latex;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        alert("DNA sequence copied to clipboard!");
    }
</script>