<div class="row">
    <div class="col-md-12">
        <h5>DNA Sequence</h5>
        <div class="dna-sequence">
            <!-- Render DNA sequence with colored nucleotides (using CSS or inline styles) -->
        </div>
        <button class="btn btn-primary" onclick="copyDNA()">Copy DNA Sequence</button>
        <div class="nucleotide-counts">
            <p>A: 25% | C: 25% | G: 25% | T: 25%</p>
        </div>
    </div>
</div>
<script>
    function copyDNA() {
        /* Copy DNA sequence to clipboard */
    }
</script>
