<div class="row">
    <div class="col-md-6">
        <h4>Equation:</h4>
        <p>
            <!-- Render LaTeX equation using MathJax -->
            $$ {{ latex_input }} $$
        </p>
        <hr/>
        <h4>Maclaurin Series Approximation:</h4>
        <p>
            $$ {{ maclaurin_approximation }} $$
        </p>
        <hr/>
        <p><span style="font-family: 'League Spartan', sans-serif !important;font-weight: 700 !important; font-size:1em; color:#000 !important;text-transform: uppercase;letter-spacing: 3px;">Rearrangement Type:</span> {{ rearrangement_type }}</p>
        <hr/>
        <h4>Rearrangement Approximation:</h4>
        <p>
            $$ {{ rearrangement }} $$
        </p>
        <hr/>
        <h4>Rearrangement Estimation:</h4>
        <p>$$ f(x={{ point }}) = {{ estimation }} $$</p>
    </div>
    <div class="col-md-6">
        <h4>Approximation Graph:</h4>
        {% if graph_url %}
            <img src="{{ graph_url }}" alt="Graph of the function">
        {% else %}
            <p>No graph available.</p>
        {% endif %}
    </div>
</div>

<!-- Load MathJax for rendering LaTeX -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
